body{
    width: 100%;
    height: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
}
nav ul li:hover {
    background-color: lightslategray;
}

#content {
    display: flex;
    flex-direction: column;
}
    form {
        width: 70%;
        margin: 10px;
    }
        fieldset {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: gray;
            margin: 10px;
            padding: 5px
        }
            input {
                padding: 5px;
            }

.success {
    background-color: green;
}

.error {
    background-color: red;
}