{% extends 'base.html' %}

{% block title %}
    Owners
{% endblock %}

{% block header %}
    List of All Owners
{% endblock %}

{% block content %}
    <ul>
        {% for o in owners %}
            <li>{{o[2]}}, {{o[3]}}, {{o[4]}}, {{o[6]}}</li>
        {% endfor %}
    </ul>
{% endblock %}