{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block header %}
    Register New Owner
{% endblock %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <fieldset>
            {{ form.username(class='form-field') }}
            {{ form.email(class='form-field') }}
            {{ form.password(class='form-field') }}
            {{ form.confirm_password(class='form-field') }}
            {{ form.owner_name(class='form-field') }}
            {{ form.occupation(class='form-field') }}
        </fieldset>
        {{ form.submit(class='button') }}
    </form>
{% endblock %}