{% extends 'base.html' %}

{% block title %}
    Addresses
{% endblock %}

{% block header %}
    Address Book
{% endblock %}

{% block content %}
    <ul>
        {% for a in addresses %}
            <li><a href="{{url_for('address.address_book_search', name=a.name)}}">{{a.str()}}</a></li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <fieldset>
            {{ form.name(class='form-field') }}
            {{ form.street(class='form-field') }}
            {{ form.city(class='form-field') }}
            {{ form.province(class='form-field') }}
        </fieldset>
        {{ form.submit(class='button') }}
    </form>
{% endblock %}